body {
    /*
    background-color: aqua;
    */
    
    background-color: hsl(0, 0%, 100%);
    
}


main {
    /*
    background-color: bisque;
    */
    display: flex;
    flex-direction: row;
    margin: 270px 360px;
}
.result {
    background-color:hsl(252, 100%, 67%);
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
}
.summary {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding-left: 50px;
    margin-left: -20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    /* 
    box-shadow: 10px 10px 5px hsl(241, 100%, 89%);
    */
}
.result h2 {
    text-align: center;
    color: hsl(241, 100%, 89%);
}
.score {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.num {
    margin-top: auto;
    margin-bottom: auto;
    color: hsl(0, 0%, 100%);
    font-size: 3.5em; 
    text-align: center;
}
.num span {
    display: block;
    text-align: center;
    color: hsl(252, 100%, 67%);
    font-size: 13px;
}

.score + h2 {
    color: hsl(0, 0%, 100%);
}

.result p {
    color: hsl(241, 100%, 89%);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.summary {
    padding-right:  100px;
}
.summary > .summary_container {
    display: flex;
    flex-direction: column;
}
section > div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 10px 10px 0;
    line-height: 30px;
    border-radius: 10px;
}
.react {
    background-color: hsla(0, 100%, 67%, 0.1);
}
.mem {
    background-color: hsla(39, 100%, 56%, 0.1);
}
.verb {
    background-color: hsla(166, 100%, 37%, 0.1);
}
.vis {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.left-col {
    width: 200px;
}
.right-col {
    width: 70px;
}



.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }